<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BruceChenStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=brucechen;AccountKey=kLh87DGj+rH25pLA/Icwvr/bJxgXSrnuHHPxfPOzg+BxNryuS6Wcp1aCTP2q3/+2ELzLH+/Bsg3Ck61tKaODvg==" />
  </appSettings>
</configuration>